body, p, ol, ul, td {
  font-family: "Segoe UI", Roboto, Arial, Helvetica, sans-serif; }

pre {
  padding: 1rem;
  font-size: 0.9rem; }

th {
  padding-bottom: 0.5rem; }

td {
  padding: 0 0.5rem 0.7rem; }

div.field,
div.actions {
  margin-bottom: 1rem; }

#notice {
  color: green; }

.field_with_errors {
  padding: 0.2rem;
  background-color: red;
  display: table; }

#error_explanation {
  width: 45rem;
  border: 0.2rem solid red;
  padding: 0.7rem 0.7rem 0;
  margin-bottom: 2rem;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  font-size: 1.2rem;
  margin: -0.7rem -0.7rem 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 1.2rem;
  list-style: square; }

label {
  display: block; }
